html {
  box-sizing: border-box;
  font-family: Karma, serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: .75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .75rem;
}

main > div {
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: .7em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div > img {
  max-width: 75%;
}

div > h2 {
  font-family: Oswald, sans-serif;
  font-size: 1.4rem;
  margin: 1rem 0 0;
  color: #6f00e7;
  text-align: center;
}

div > p {
  margin-top: 0;
  text-align: center;
}

div > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

ul li:first-child {
  background-color: #6f00e7;
  color: #fff;
  padding: .5em 1em .5em 1.5em;
  border: none;
  border-radius: 3em;
  font-family: Oswald;
  font-size: .75rem;
  font-weight: bold;
}
