html {
  box-sizing: border-box;
  font-family: Karma, serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: .25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

main > div {
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: .5em 1.5em .7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div > img {
  max-width: 75%;
}

div > h2 {
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
  color: #6f00e7;
  text-align: center;
}

div > p {
  margin-top: 0;
  text-align: center;
}

div > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Oswald;
  display: flex;
  align-items: center;
}

ul li:first-child {
  background-color: #6f00e7;
  color: #fff;
  padding:.5em 1.5em .7em;
  border: none;
  border-radius: 3em;
}
